<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es-ES" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head th:replace="base::head"><title>n</title></head>
  <body>
    <div th:replace="base::cabecera"></div>
    <nav th:replace="base::barra"></nav>
    <div class="container">
      <div class="row">&zwj;</div>
      <div class="row">&zwj;</div>
      <div class="row">&zwj;</div>
      <div class="row">&zwj;</div>
      <h1 style="text-align: center">¡¡Acceso denegado!!</h1>      
      <div class="row">&zwj;</div>
      <div class="row">
        <div class="col-lg-12" style="text-align: center">
          <img src="/img/accesoDenegado.png" class="rounded" alt="acceso denegado"/>
        </div>        
      </div>
      <div class="row">&zwj;</div>
      <div class="row">&zwj;</div>
      <h3 style="text-align: center"><a th:href="@{/login}" class="btn btn-primary">Login</a></h3>
      <div class="row">&zwj;</div>
      <div class="row">&zwj;</div>
      <div class="row">&zwj;</div>
    </div>
    <div th:replace="base::footer"></div>
  </body>
</html>
