<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es-ES" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

  <head th:replace="base::head"><title>n</title></head>
  <body>
    <div th:replace="base::cabecera"></div>
    <nav th:replace="base::barra"></nav>
    <div class="container">

      <div class="row">
        <div class="col-lg-12" style="text-align: center">
          <h1>Lorem Ipsum</h1>
          <br>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12" style="text-align: center">
          <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p>   
          <p>"No hay nadie que ame el dolor mismo, que lo busque, lo encuentre y lo quiera, simplemente porque es el dolor."</p>
        </div>        
      </div>

      <div class="row">
        <div class="col-lg-12" style="text-align: center">
          <img src="/img/servicios.png" class="rounded" alt="sobre nosotros" width="90%"/>      
        </div>        
      </div>

      <div class="row">&zwj;</div>


      <div th:fragment="servicios">



        <div class="card-deck mb-3 text-center">
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Motores</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Entre ellos</li>
                <li>puede ver</li>
                <li>nuestro</li>
                <li>listado de</li>
              </ul>
              <a th:href="@{/motor/listar}" role="button" class="btn btn-lg btn-outline-primary btn-block">
                motores
              </a>
            </div>
          </div>
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Pro</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>20 users included</li>
                <li>10 GB of storage</li>
                <li>Priority email support</li>
                <li>Help center access</li>
              </ul>
              <a th:href="@{/public/sobrenosotros}" role="button" class="btn btn-lg btn-outline-primary btn-block">
                sobre nosotros
              </a>
            </div>
          </div>
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Enterprise</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>30 users included</li>
                <li>15 GB of storage</li>
                <li>Phone and email support</li>
                <li>Help center access</li>
              </ul>
              <a th:href="@{/public/nuestraempresa}" role="button" class="btn btn-lg btn-outline-primary btn-block">
                nuestra empresa
              </a>
            </div>
          </div>
        </div>


        <div class="row">

          <div class="col-lg-12" style="text-align: justify">
            <p>Dispone de muchos servicios</p>
            <p>Entre ellos, puede ver nuestro <a href="/motor/listar">listado de motores</a></p>
            <p>Entre ellos, puede ver información <a href="/public/sobrenosotros">sobre nosotros</a></p>
            <p>Entre ellos, puede ver información sobre <a href="/public/nuestraempresa">nuestra empresa</a></p>

            <div sec:authorize="hasAnyAuthority('USER','ADMIN')">
              <p>Entre ellos, puede <a href="/motor/crear">crear un motor</a></p>
              <p>Entre ellos, puede <a href="/admin/enviarcorreo">mandar correo electrónico</a></p>
              <p>Entre ellos, puede <a href="/admin/enviarcorreo/adjunto">mandar correo electrónico con adjunto</a></p>
              <br/></div>             
            <div sec:authorize="hasAnyAuthority('ADMIN')">
              <p>Acceder sin restricciones a <a href="/clientes/listar">Listado de clientes</a></p>    
              <p>Acceder sin restricciones a <a href="/informes/listar">Listado de informes</a></p>    
              <p>Acceder sin restricciones a <a href="/clientes/create">Crear cliente</a></p>    
              <p>Acceder sin restricciones a <a href="/informes/create">Crear informe</a></p>    
              <p>Acceder sin restricciones a <a href="/motor/listar">Listado de motores</a></p>    
              <br/></div>
          </div>        
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12" style="text-align: justify">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec bibendum mauris. Proin dignissim auctor dui eu volutpat. Donec vestibulum efficitur magna vel efficitur. In bibendum congue vulputate. Pellentesque auctor, magna in sodales suscipit, arcu elit eleifend sem, a consequat leo tellus ac felis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus condimentum nulla ante, ut consequat quam aliquam quis.</p>
          <p>Vestibulum lobortis purus est, id facilisis felis laoreet sed. Nam auctor diam convallis velit cursus egestas. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc odio tortor, pellentesque ut neque ac, mollis elementum est. Cras consectetur magna eget volutpat efficitur. In vulputate aliquet nulla, vel feugiat arcu. Mauris eget imperdiet est, eget accumsan massa. Sed faucibus nibh eu elementum vestibulum. Suspendisse luctus quam sit amet sodales auctor. Nunc eget mi nisi. Nulla lacinia venenatis porttitor. Donec tempus laoreet risus, nec varius lectus euismod fringilla. Proin eget viverra tellus. Duis blandit sem at augue consectetur, nec pretium velit commodo. Nunc eget velit gravida, euismod quam a, lobortis est.</p>
          <p>Sed tellus erat, tristique et mi nec, gravida mattis ante. Nunc pellentesque a velit ac consequat. Integer venenatis ante at purus tristique condimentum. Maecenas imperdiet vestibulum libero, in sagittis quam. Vestibulum sodales purus nulla, et sagittis diam facilisis sed. Ut eu orci auctor, faucibus ipsum at, gravida sapien. Nulla quis urna rhoncus, ornare erat at, fermentum ex. Integer odio mauris, pretium vitae ultrices nec, rhoncus id felis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Suspendisse accumsan sem magna, eu viverra diam auctor quis. Phasellus euismod placerat pretium. Sed lacinia orci orci, ut scelerisque velit ullamcorper non. Quisque ac luctus ex. Integer commodo velit sit amet purus maximus, eu semper massa faucibus. Cras convallis pretium purus, quis suscipit ipsum rhoncus et. Quisque pulvinar mi tellus, placerat vehicula diam tristique non.</p>
          <p>Quisque varius ligula est, sit amet dapibus urna ultrices non. Aenean congue lacus eget semper egestas. Proin convallis nec ex et laoreet. Nulla tincidunt hendrerit erat. Cras eget nulla eu turpis laoreet sollicitudin ac et mi. Ut interdum pulvinar libero et fermentum. Fusce et enim purus. Nunc placerat tortor eu dictum suscipit. Donec et pulvinar turpis. Quisque sagittis orci tincidunt placerat bibendum. Mauris convallis sagittis dignissim.</p>
          <p>Quisque et mauris velit. Cras eget condimentum est, eget interdum risus. Integer sed risus commodo, tristique mi pretium, laoreet turpis. Aenean mattis tincidunt ipsum, ac lacinia sapien egestas vel. Suspendisse pharetra viverra ante, eget feugiat ipsum malesuada at. Sed vitae faucibus lectus. Aenean ultrices ex a augue laoreet interdum.</p>
        </div>        
      </div>

      <div class="row">&zwj;</div>
      <div class="row">&zwj;</div>
    </div>
    <div th:replace="base::footer"></div>
  </body>
</html>
