<!DOCTYPE html>
<html lang="es">
  <head th:replace="base::head"></head>
  <body>
    <div th:replace="base::cabecera"></div>
    <nav th:replace="base::barra"></nav>
    <div class="container">
      <table class="table table-responsive">
        <thead>
          <tr>
            <th>ID</th>
            <th>Tema</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td th:text="${informe.id}"></td>
            <td th:text="${informe.tema}"></td>
            <td th:text="${informe.fecha}"></td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-lg-9" >
          <h2>
            Contenido
          </h2>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-9" >
          <p th:text="${informe.contenido}"></p>
        </div>
      </div>

      <div style="text-align: right">
        <a th:href="@{/informes/update/{id}(id=${informe.id})}"><button type="button" class="btn btn-danger">Modificar</button></a>
        <a th:href="@{/informes/listar}"><button type="button" class="btn btn-success">Listado</button></a>
      </div>
      <div class="row">&zwj;</div>
      <div class="row">&zwj;</div>      
      <div class="row">&zwj;</div>
      <div class="row">&zwj;</div>
      <br>
    </div>
    <div th:replace="base::footer"></div>
  </body>
</html>